<!-- Y2K/Retro-Style Footer -->
<footer class="tea-footer">
  <div class="footer-bubbles">
    <div class="bubble fb1"></div>
    <div class="bubble fb2"></div>
    <div class="bubble fb3"></div>
  </div>
  
  <div class="tea-footer-container">
    <div class="footer-links">
      <div class="footer-section">
        <h4 class="footer-heading">Tea Tracker</h4>
        <ul>
          <li><%= link_to "About", "#" %></li>
          <li><%= link_to "Features", "#" %></li>
        </ul>
      </div>
      
      <div class="footer-section">
        <h4 class="footer-heading">Connect</h4>
        <ul class="social-links">
          <li><a href="https://github.com/NU-CS-Software-Studio-Spring-25/project-tea-tracker" class="social-link" target="_blank"><i class="bi bi-github"></i></a></li>
        </ul>
      </div>
    </div>
    
    <div class="footer-copyright">
      <p>&copy; <%= Date.current.year %> Tea Tracker. All rights reserved.</p>
      <div class="pixel-decoration">
        <div class="pixel"></div>
        <div class="pixel"></div>
        <div class="pixel"></div>
      </div>
    </div>
  </div>
</footer> 